.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: 1.3em; 
  font-weight: 500;
  color: #212121; 
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: center;
}

.caixaPesquisa {
  margin-left: 22%;
  outline: none;
  background-color: #f1f1f1;
  border-radius: 5px;
  text-align: left;
}

.iconeCinza {
  color: #808080;
}

.tabela th {
  color: #808080;
}

.tabela td {
  border-left: none; 
  border-right: none; 
  border-bottom: 1px solid #f5f5f5; 
  text-align: center;
}

.statusAprovado {
  background-color: #24c85a; 
  color: #ffffff;
  padding: 3%;
  border-radius: 7px;
  text-align: center;
  border: 2px solid #4463502d;
}

.statusExcluido {
  background-color: #f14242; 
  color: #ffffff;
  padding: 3%;
  border-radius: 7px;
  text-align: center;
  border: 2px solid #ff6363c6;
}

.statusDesativado {
  background-color: #4d4c4c63; 
  color: #ffffff;    
  padding: 3%;
  border-radius: 7px;
  text-align: center;
  border: 2px solid #79797933;
}

.statusPendente {
  background-color: #fed73d; 
  color: #93918b; 
  padding: 3%;
  border-radius: 7px;
  text-align: center;
  border: 2px solid #d8d6952c;
}

.statusLabel {
  padding: 5px;
  width: 100%;
  transition: width 0.3s ease-in-out;
  opacity: 1;
}

.statusLabel:hover {
  width: 90%;
  opacity: 0.5;
}

.pagination button {
  @apply px-3 py-1 mx-1 border rounded-md;
  margin-bottom: 20px;
}

.pagination button.active {
  @apply bg-blue-500 text-white;
}

.perPage {
  margin-left: 15px;
}

.perPage select {
  outline: none;
}

/* Estilos para o modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease;
}

.modalOverlay.visible {
  visibility: visible;
  opacity: 1;
}

.modalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  position: relative;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.modalContent.visible {
  transform: scale(1);
}

.modalContent h2 {
  margin-top: 0;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modalButtons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.aprovadoBtn {
  background-color: #4CAF50;
  color: white;
}

.excluidoBtn {
  background-color: #f44336;
  color: white;
}

.desativadoBtn {
  background-color: #9E9E9E;
  color: white;
}

.pendenteBtn {
  background-color: #FFC107;
  color: white;
}

.closeButton {
  background: none;
  border: none;
  font-size: 34px;
  position: absolute;
  top: -14px;
  right: 10px;
  cursor: pointer;
  color: #e70e0e;
}

.closeButton:hover {
  color: #95938e;
}

/* Estilos para a confirmação da alteração de status */
.confirmationModalContent {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  text-align: center;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.confirmationModalContent.visible {
  transform: scale(1);
}

.confirmationIcon {
  width: 100px; /* Ajuste conforme necessário */
  height: 100px; /* Ajuste conforme necessário */
  background-color: #5ce495; /* Cor verde */
  border-radius: 50%; /* Faz o círculo */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px; /* Ajuste conforme necessário */
  color: white; /* Cor do checkmark */
  margin: 0 auto;
}
